@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* styles.css */
.markdown-body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.markdown-body h1 {
  font-size: 2em;
}

.markdown-body h2 {
  font-size: 1.5em;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body code {
 
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

.markdown-body pre {
   
  padding: 1em;
  border-radius: 3px;
  overflow-x: auto;
}

.cnt{
  background-color: rgb(255, 153, 0);
}

.cdc{
  background-color: rgb(255, 153, 0);
  
}
 